*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Georgia;
    }

h1{
    text-align: center;
    font-weight: bolder;
    padding: 3%;
    font-size: 50px;
}
h3{
    text-align: right;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.row{
    width: 100%;
}
.col-lg-4{
    float: left;
    border: 1px solid #000000;
    padding: 8px;
    background-color: lightgray;
}
#burger h3{
    background-color: burlywood;
    border: 1px solid #000000;
}
#rice-meal h3{
    background-color: cornsilk;
    border: 1px solid #000000;
}
#drinks h3{
    background-color: lightblue;
    border: 1px solid #000000;
}

@media screen and (min-width: 992px){
.col-lg-4{
    float: left;
    width: 33.3%;
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
    #burger{
        float: left;
        width: 50%;
    }
    #rice-meal{
        float: left;

        width: 50%;
    }
    #drinks{
        float: left;
        width: 100%;
    }
    }

@media screen and (max-width: 767px){
        .col-lg-4{
            width: 100%;
        }
    }